### Python Basics

In [1]:
4%2

0

In [2]:
1+2

3

In [3]:
4/2

2.0

In [4]:
5//2

2

In [5]:
5/2

2.5

In [6]:
5%2

1

In [7]:
5+3*2

11

In [8]:
(5+3)*3

24

In [9]:
type

type

In [10]:
type(4/2)

float

In [11]:
type(2)

int

In [12]:
a = 10

In [13]:
b = 20

In [14]:
a+b

30

In [15]:
c = a + b

In [16]:
c

30

In [17]:
type(c)

int

In [18]:
True

True

In [19]:
False

False

In [20]:
True or False

True

In [21]:
False or True

True

In [22]:
True and False

False

In [23]:
type(False or True)

bool

In [24]:
a = 10
b = 20
a+b>30

False

In [26]:
a+b>30 | a-b<10

True

### Strings

In [28]:
type("Vivek")

str

In [29]:
type("V")

str

In [30]:
type("Vivek is a boy")

str

In [31]:
str1 = "Vivek is a boy"

In [32]:
str1

'Vivek is a boy'

In [33]:
str(123)

'123'

In [34]:
type(str(123))

str

In [35]:
a = 20

In [36]:
a

20

In [37]:
print(a)

20

In [38]:
str1 = "A good boy"
str2 = "A bad Boy"

In [39]:
print(str1),print(str2)

A good boy
A bad Boy

(None, None)

In [40]:
print(str1)
print(str2)

A good boy
A bad Boy

In [41]:
str1 + str2

'A good boyA bad Boy'

In [43]:
str1 + "  " + str2

'A good boy  A bad Boy'

In [47]:
name = input("Enter your name")

print(name)

type(name)

Enter your name1
1

str

In [48]:
## Add 2 Nos

In [49]:
a = input("Enter 1st Number")
b = input("Enter 2nd Number")

c = a+b
print("The output is ",c)

Enter 1st Number23
Enter 2nd Number34
The output is  2334

In [50]:
a = int(input("Enter 1st Number"))
b = int(input("Enter 2nd Number"))

c = a+b
print("The output is ",c)

Enter 1st Number23
Enter 2nd Number34
The output is  57

In [51]:
a = float(input("Enter 1st Number"))
b = float(input("Enter 2nd Number"))

c = a+b
print("The output is ",c)

Enter 1st Number21.5
Enter 2nd Number22.4
The output is  43.9

In [52]:
a = float(input("Enter 1st Number"))
b = float(input("Enter 2nd Number"))

c = a+b
print("The output is ",c)

Enter 1st Number23
Enter 2nd Number34
The output is  57.0

In [53]:
a = float(input("Enter 1st Number"))
b = float(input("Enter 2nd Number"))

c = a+b
print("The output is ",c)

Enter 1st Numbervivek

ValueError: could not convert string to float: 'vivek'

### String Formatting

In [54]:
c = input("What is your first name")
d = input("What is your last name")
print("Welcome to the course", c,d)

What is your first nameVivek
What is your last nameNair
Welcome to the course Vivek Nair

In [55]:
c = input("What is your first name")
d = input("What is your last name")
print("My first Name is {} and My Last Name is {}".format(c,d))

What is your first nameVIvek
What is your last nameNair
My first Name is VIvek  and My Last Name is Nair

In [56]:
c = input("What is your first name")
d = input("What is your last name")
print("My first Name is {a} and My Last Name is {b}".format(a = c,b = d))

What is your first nameVivek
What is your last nameNair
My first Name is Vivek and My Last Name is Nair

In [57]:
c = input("What is your first name")
d = input("What is your last name")
print("My Last Name is {b} and My First Name is {a}".format(a = c,b = d))

What is your first nameVivek
What is your last nameNair
My Last Name is Nair and My First Name is Vivek

### Variable Dynamic Typing

In [58]:
a = 10

In [59]:
type(a)

int

In [60]:
a = 20.5

In [61]:
type(a)

float

In [62]:
a = "Vivek"

In [63]:
type(a)

str

### Strong Typing

In [64]:
"Vivek"+ 1

TypeError: can only concatenate str (not "int") to str

In [66]:
"Vivek" + str(1)

'Vivek1'

In [67]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [68]:
1 + int("2")

3

### Conditional Statements

### if and elif

In [70]:
a = int(input("Enter the number 1 "))
b = int(input("Enter the number 2 "))

c = a - b

if c<0:
    print("Negative number")

if c>0:
    print("Positive Number")

Enter the number 1 20
Enter the number 2 10
Positive Number

In [71]:
a = int(input("Enter the number 1 "))
b = int(input("Enter the number 2 "))

c = a - b

if c<0:
    print("Negative number")
else:
    print("Positive Number")

Enter the number 1 10
Enter the number 2 20
Negative number

In [73]:
a = int(input("Enter the number 1 "))
b = int(input("Enter the number 2 "))

c = a - b
print("The output is {}".format(c))
if c<0:
    print("Negative number")
elif c==0:
    print("Number is Zero")
else:
    print("Positive Number")

Enter the number 1 10
Enter the number 2 20
The output is -10
Negative number

### Datastructures

List
Tuple
String
Dictionary
Sets

In [74]:
lst = ["Vivek", 1, 20.5, True]

In [78]:
lst

['Vivek', 1, 20.5, True]

In [75]:
lst[1]

1

In [79]:
type(lst[0])

str

In [77]:
lst[0][0]

'V'

In [80]:
type(lst)

list

In [81]:
list(["Vivek", 1, 20.5, True])

['Vivek', 1, 20.5, True]

In [82]:
lst.append("Nair")

In [83]:
lst

['Vivek', 1, 20.5, True, 'Nair']

In [84]:
lst.insert(1, "KR")

In [85]:
lst

['Vivek', 'KR', 1, 20.5, True, 'Nair']

In [86]:
lst[2] = "Data"

In [87]:
lst

['Vivek', 'KR', 'Data', 20.5, True, 'Nair']

In [88]:
lst.remove("KR")

In [89]:
lst

['Vivek', 'Data', 20.5, True, 'Nair']

In [90]:
lst.pop(1)

'Data'

In [91]:
lst

['Vivek', 20.5, True, 'Nair']

In [93]:
lst.append("Vivek")
lst.append("Vivek")
lst.append("Vivek")

In [94]:
lst

['Vivek', 20.5, True, 'Nair', 'Vivek', 'Vivek', 'Vivek', 'Vivek']

In [96]:
lst.count("Vivek")

5

In [97]:
lst.count("Nair")

1

In [98]:
lst.count(3)

0

### Indexing

In [101]:
str1 = "Vivek"
str1

'Vivek'

In [103]:
str1[3]

'e'

In [104]:
str1[3] = "i"

TypeError: 'str' object does not support item assignment

In [105]:
str1 = "Nair"

In [106]:
str1

'Nair'